@import 'bourbon';
@import 'neat';

$tablet: new-breakpoint(max-width 737px);
$desktop: new-breakpoint(min-width 960px);


body{
  background-color: red;
}

.rps-items{
  @include outer-container;
}

.game-choice{
  @include span-columns(4);

  @include media($tablet) {
      @include span-columns(12);
  }
}

.game-choice__button{
  width: 100%;
}
